.snake-box {
  border: 5px solid black;
  height: 420px;
  width: 340px;
  margin: auto;
}

.snake-box-inner {
  height: 410px;
  width: 330px;
  position: relative;
  margin: 5px;
}

.snake-box-grid {
  height: 410px;
  width: 330px;
  position: absolute;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.table-pixel {
  width: 8px;
  height: 8px;
  max-height: 8px;
  min-height: 8px;
  max-width: 8px;
  min-width: 8px;
  border: 1px solid #e5e5e5;
  font-size: 7px;
}

.snake-food {
  width: 8px;
  height: 8px;
  background: green;
  position: absolute;
  margin: 1px;
}

.snake-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
}

.snake-skin {
  width: 8px;
  height: 8px;
  background: black;
  margin: 1px;
}

.head {
  background-color: red !important;
}